.filter{
	padding: 30px 0px;
}
	.filter__inner{
		border: 1px solid #000;
		padding: 10px;
	}
	.filter__tile{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
		.filter__tile button{
			border: none;
			padding: 7px 16px;
			border-radius: 5px;
			color: #fff;
			background-color: orange;
			border: 1px solid #000;
			margin: 10px 1%;
			width: 10%;
		}
		.filter__tile button.active{
			background-color: red;
		}
	.filter__inner-wrap{
		display: none;
	}
		.filter__inner-wrap.active{
			display: block;
		}
	.filter__inner__model.active{
		display: block;
	}
	.filter__tile-wrap{
		padding-bottom: 30px;
	}
	.filter__steps__inner{
		display: flex;
		justify-content: space-around;
		width: 100%;
		position: relative;
		z-index: 0;
		margin-bottom: 30px;
	}
		.filter__steps{
			position: relative;
		}
		.filter__steps:before{
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background-color: #09afdf;
		}
	.filter__title{
		text-align: center;
		margin-bottom: 30px;
	}
	.filter__body{
		padding: 20px 10px;
	}
		.filter__title h2{
			margin-bottom: 0;
			margin-top: 0;
		}
	.filter__content{
		padding: 0px 50px;
	}
	.filter__content__btn-group{
		display: flex;
		justify-content: space-between;
	}
	.filter__content .getBack,
	.filter__content .getNext{
		display: none;
	}
		.filter__content .getBack.active,
		.filter__content .getNext.active{
			display: block;
		}
	.filter__step{
		position: relative;
		z-index: 5;
	}
	.filter__step a{
		display: inline-block;
	}
	.filter__step span{
		border-radius: 50%;
	}
	.filter__step span.active{
		background-color: #337AB7;
	}
	.filter__link{
		text-align: right;
	}
	.filter__link a{
		display: inline-block;
		padding: 5px 12px;
		border-radius: 5px;
		background-color: #eaeaea;
		color: #ababab;
		pointer-events: none;
	}
		.filter__link.active a{
			pointer-events: auto;
			background-color: green;
			color: #fff;
			border: 1px solid #000;
		}
		.filter__link a:hover{
			text-decoration: none;
			background-color: #0c630c;
		}